cmake-build-debug/

**/__pycache__/
**/.idea/
**/.directory
**/vgcore*
**/*callgrind*
**/*.pyc

testing/output.sas
testing/mystery_log.txt
testing/translate/*.pyc
testing/translate/pddl/*.pyc
testing/translate/pddl_parser/*.pyc

ipasir/sat/abcdsat_i17
ipasir/sat/cryptominisat

