bin/parallelgp
testing/output.sas
**/__pycache__/
**/.idea/
testing/mystery_log.txt
**/.directory
**/vgcore*
**/*callgrind*
**/*.pyc
testing/translate/*.pyc
testing/translate/pddl/*.pyc
testing/translate/pddl_parser/*.pyc
ipasir/sat/abcdsat_i17
ipasir/sat/cryptominisat
